.advertContainer{
    text-align: start;
    height: 100vh;
    width: 100vw;
}

.landlordPicture{
    max-width: 100%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 25px;
    object-fit: cover;
}


.landlordPicture:hover{
    cursor: pointer;
}

.propertyPhoto {
    width: 500px;
    object-fit: cover;
    height: 500px;
    margin-bottom: 25px;
}
  

.advertContainer button {
    width: 300px;
    background-color: #012245;
    color: white;
}

.advertContainer button:hover{
    background-color: #01172e;
}

.descriptionInfo{
    width: min-content;
    font-size: 16px;
}

.heartIcon{
    width: 60px;
}

.shareIcon{
    width: 35px;
    cursor: pointer ;
}

.popup p{
    cursor: pointer;
}

.popup {
    margin-top: 45px;
    position: absolute;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
  
.popup::after {
    content: "";
    position: absolute;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.shareOptionIcon{
    width: 20px;
    margin-right: 10px;
}

.mapContainer{
    width: 850px;
    height: 500px;
}
  
